<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BLOG</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <nav>
        <h1>NORDIC ROSE</h1>
        <a id="link1" on="selectLink()" href="/blog">BLOG</a>
        <a id="link2" href="/newArticle">NEW ARTICLE</a>
        <!-- <a href="/blog">BLOG</a> -->
    </nav>
    <p class="pTitle">
        <%= data[id].title %>
    </p>
    <img class='imgBlog' src="/img/imgBase.png" alt="img">

    <section class="blogContent">
        <div class="head">
            <% console.log(id) %>
                <img class="profil" src="<%= data[id].author_bild %> " alt="">
                <div>
                    <h3>
                        <%= data[id].author %>
                    </h3>
                    <p>
                        <%= data[id].published_at %> - <%= data[id].duration %> min read
                    </p>
                </div>
                <img class="twitter" src="/img/twitter.png" alt="Twitter">
        </div>
        <p class='blogText'>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore repudiandae natus
            tenetur voluptatum
            ea neque numquam labore incidunt? Eligendi quo saepe ad eum blanditiis, soluta dignissimos doloremque
            quos nemo sed.</p>
        <p class='blogText'>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore repudiandae natus
            tenetur voluptatum
            ea neque numquam labore incidunt? Eligendi quo saepe ad eum blanditiis, soluta dignissimos doloremque
            quos nemo sed.</p>
        <p class='blogText'>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore repudiandae natus
            tenetur voluptatum
            ea neque numquam labore incidunt? Eligendi quo saepe ad eum blanditiis, soluta dignissimos doloremque
            quos nemo sed.</p>

    </section>
    <div class="line">
        <div class='eye1'></div>
        <div class='eye2'></div>
    </div>
    <p class="artclTitle">What to read next</p>
    <section class="allArticle">
        <% for( let index=0; index < 6; index++ ) { %>
            <article>
                <a href="/<%= data[index].id %>"><img src='/img<%=data[index].url %>' alt=" img"></a>
                <p>
                    <%= data[index].title %>
                </p>
            </article>
            <% } %>
    </section>
    <%- include('./partials/footer.ejs') %>
        <script src="/JS/main.js"></script>
</body>

</html>