<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <%- include('./partials/nav.ejs') %>
        <h1>ADD NEW ARTICLE</h1>
        <form action="/" method="POST">
            <input type="text" name='title' placeholder="Title" required>
            <input type="text" name='urlPicture' placeholder="Picture for Article" required>
            <input type="text" name='author' placeholder="Author Name" required>
            <input type="url" name='authorPic' placeholder="Picture of the Author" required>
            <input type="message" name='text' placeholder="Your Article" required>
            <input type="submit" value="SEND ARTICLE">
            <!-- <button type="submit">SEND ARTICLE</button> -->
        </form>
        <div class="line">
            <div class='eye1'></div>
            <div class='eye2'></div>
        </div>
        <p class="artclTitle">What to read next</p>
        <section class="allArticle">
            <% for( let index=0; index < 6; index++ ) { %>
                <article>
                    <a href="/<%= data[index].id %> "><img src='/img<%=data[index].url %>' alt="img"></a>
                    <p>
                        <%= data[index].title %>
                    </p>
                </article>
                <% } %>
        </section>

        <%- include('./partials/footer.ejs') %>
            <script src="/JS/newArticle.js"></script>
</body>

</html>